---
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body class="flex flex-col items-center gap-4 p-8 w-full h-full min-w-screen min-h-screen">
    <nav class="flex w-full max-w-5xl border justify-between px-4 py-2">
      <a href="/">Draw That OSS</a>
      <div class="flex gap-4">
        <a href="/play">Play</a>
        <a href="/gallery">Gallery</a>
      </div>
    </nav>
    
    <div class="w-full max-w-5xl border h-8">
      <slot />
    </div>
	</body>
</html>
